h1{
    padding: 0 10px;
    i{
        position: relative;
        top: -10px;
    }
}

.current-value{
    
    margin-right: 39px;
    padding: 4px 8px;
    background: #F44336;
    display: inline-block;
    color: white;
    border-radius: 5px;
    margin-bottom: 8px;

}

.grid{
    padding: 20px 0;
}



    