<mz-navbar [navbarClass]="'grey'">
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a>
          <i mz-icon-mdi [align]="'right'" [icon]="'eye'" [size]="'18px'">
          </i>
          {{ timeline?.timelinename}}
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <a [routerLink]="['/dashboard/timeline/list']">
          <i mz-icon-mdi [align]="'left'" [icon]="'arrow-left'" [size]="'18px'">
          </i>
          رجوع
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  
  <div class="scrollable">
    <div class="grid">
      <div class="row">
        <div class="col s3">
           اسم الاطار الزمنى
        </div>
        <div class="col s9">
          {{ timeline?.timelinename}}
        </div>
      </div>
      <div class="row">
        <div class="col s3">
           تاريخ الاطار الزمنى 
        </div>
        <div class="col s9">
          <mz-badge class="badge-view" [value]=" timeline?.date | date: 'yyyy/MMMM/dd'" [caption]="''" [badgeClass]="'blue'" [new]="true">
          </mz-badge>
        </div>
      </div>
      <div class="row">
          <div class="col s3">
             وصف الاطار الزمنى 
          </div>
          <div class="col s9">
            {{timeline?.description}}
          </div>
        </div>
        
      
      <div class="row">
        <div class="col s3">
          خيارات
        </div>
        <div class="col s9">
          <a mz-button [flat]="true" [routerLink]="['../../edit/'+ timeline?._id]" class="flat waves-effect waves-green">
            <i mz-icon-mdi [align]="'right'" [icon]="'arrow-left'" [size]="'18px'">
            </i>
            تعديل</a>
          <button mz-button class="red" (click)="delete( timeline?._id,timeline?.timelinename)">
            <i mz-icon-mdi [align]="'right'" [icon]="'delete'" [size]="'18px'">
            </i>
            حذف</button>
        </div>
      </div>
    </div>
  </div>
