<br>
       <label>يشير الي :</label> <h5 class="collection-item">{{symbol?.refersTo}}</h5>
       <label>لون النص :</label> <div [style.backgroundColor]="symbol?.color" style="    width: 50px;
       
       height: 22px;
       padding: 3px;
       background-color: green;
       border: solid 4px gainsboro;
       border-radius: 3px;">      
       </div>
       <label>تقع في جزء :</label> <p class="collection-item">{{symbol?.bookSection}}</p>
       <label>نوع العلامة :</label> <p class="collection-item">{{symbol?.symbolType}}</p>
       <label>رقم الصفحة :</label> <p class="collection-item">{{symbol?.pageNumber}}</p>
           
    <hr> 


