  <mz-navbar [navbarClass]="'grey'">
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
          <a>
            <i mz-icon-mdi [align]="'right'" [icon]="'pencil'" [size]="'18px'">
            </i>
            {{teamData.name}}
          </a>
        </mz-navbar-item>
      </mz-navbar-item-container>
      <mz-navbar-item-container [align]="'left'">
        <mz-navbar-item>
          <a [routerLink]="['/dashboard/team/list']">
            <i mz-icon-mdi [align]="'left'" [icon]="'arrow-left'" [size]="'18px'">
            </i>
            رجوع
          </a>
        </mz-navbar-item>
      </mz-navbar-item-container>
    
    </mz-navbar>
    
    <div class="scrollable">
      <div class="grid">
        <div class="row">
          <div class="col s12">
            <form [formGroup]="teamForm" (ngSubmit)="edit()">
              <div class="row">
                <div class="col s12">
                  <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix [icon]="'json'" class="icon-prefix">
                    </i>
                    <input mz-input [label]="'اسم العضو'" [validate]="true" [dataError]="'غير صحيح'"
                      id="name-input" placeholder="  ادخل اسم العضو" minlength=5
                      type="text" name="name" formControlName="name" [(ngModel)]="teamData.name">
                  </mz-input-container>
                </div>
              </div>
    
    
              <div class="row">
                  <div class="col s12">
                    <mz-textarea-container>
                      <i mz-icon-mdi mz-textarea-prefix [icon]="'json'">
                      </i>
                      <textarea mz-textarea [label]="' الدرجه العلميه '" id="description-textarea" placeholder="ادخل الدرجه العلميه "
                      minlength=5 name="scientificDegree" formControlName="scientificDegree" [(ngModel)]="teamData.scientificDegree"></textarea>
                    </mz-textarea-container>
                  </div>
                </div>
                <div class="row">
                    <div class="col s12">
                      <mz-textarea-container>
                        <i mz-icon-mdi mz-textarea-prefix [icon]="'json'">
                        </i>
                        <textarea mz-textarea [label]="' دور العضو  '" id="description-textarea" placeholder="ادخل دور العضو  "
                        minlength=5 name="role" formControlName="role" [(ngModel)]="teamData.role"></textarea>
                      </mz-textarea-container>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                        <mz-textarea-container>
                          <i mz-icon-mdi mz-textarea-prefix [icon]="'json'">
                          </i>
                          <textarea mz-textarea [label]="' للجنه   '" id="description-textarea" placeholder="ادخل للجنه   "
                          minlength=5 name="committee" formControlName="committee" [(ngModel)]="teamData.committee"></textarea>
                        </mz-textarea-container>
                      </div>
                    </div>
    
    
             
    
              <div class="row">
                <div class="col s12" style="padding-right: 49px;">
                  <button type="submit" [disabled]="teamForm.invalid" mz-button class="green" [flat]="false">
                    <i mz-icon-mdi [align]="'right'" [icon]="'plus'">
                    </i>
                    أضافة
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>