<mz-navbar [navbarClass]="'grey'">
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a>
        <i mz-icon-mdi [align]="'right'" [icon]="'plus-box'" [size]="'18px'">
        </i>
        اضاقة مستند جديد
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item>
      <a [routerLink]="['/dashboard','documents','list']">
        <i mz-icon-mdi [align]="'left'" [icon]="'arrow-left'" [size]="'18px'">
        </i>
        رجوع
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<div class="scrollable">
  <div class="grid">
    <div class="row">
      <div class="col s12">
        <form [formGroup]="documentForm" (ngSubmit)="send()">
          <div class="row">
            <div class="col s12">
              <mz-input-container>
                <i mz-icon-mdi mz-input-prefix [icon]="'json'" class="icon-prefix">
                </i>
                <input mz-input [label]="'الاسم'" [validate]="true" [dataError]="'غير صحيح'"
                   id="name-input" placeholder="ادخل اسم المستند" minlength=5
                  type="text" name="name" formControlName="name" [(ngModel)]="documentData.name">
              </mz-input-container>
            </div>
          </div>


          <div class="row">
            <div class="col s12">
              <mz-textarea-container>
                <i mz-icon-mdi mz-textarea-prefix [icon]="'json'">
                </i>
                <textarea mz-textarea [label]="'وصف المستند'" id="description" placeholder="ادخل وصف المستند"
                minlength=5 name="description" formControlName="description" [(ngModel)]="documentData.description"></textarea>
              </mz-textarea-container>
            </div>
          </div>

          <div class="row">
            <div class="col s12" style="padding-right: 49px;">
              <button type="submit" [disabled]="documentForm.invalid" mz-button class="green" [flat]="false">
                <i mz-icon-mdi [align]="'right'" [icon]="'plus'">
                </i>
                أضافة
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>